@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100%;
  border: none;
}

.react-calendar__tile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  min-height: 80px;
}
